<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Planet Express: Weekly Report</title>
    <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" href="normalize.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="bootstrap.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="styles.css" media="screen" title="no title" charset="utf-8">

    <!-- Tables -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
      google.charts.load('current', {'packages':['table', 'corechart']});
    </script>

    <script type="text/javascript">
      google.charts.setOnLoadCallback(drawTable_del_sum);

      // Delivery Summary
      function drawTable_del_sum() {
        var data = new google.visualization.DataTable();
        <% ((records.first).keys).each do |column| %>
          data.addColumn('string', '<%= column %>')
        <% end %>
        data.addRows([
          <% records.each do |hsh| %>
            <%= hsh.values.inspect %> ,
          <% end %>
        ]);

        var table = new google.visualization.Table(document.getElementById('table_div_del_sum'));

        table.draw(data, {showRowNumber: false, width: '100%', height: '100%'});
      }
    </script>

    <script type="text/javascript">
      google.charts.setOnLoadCallback(drawTable);

      // Employee Data
      function drawTable() {
        var data = new google.visualization.DataTable();
        <% ((pilot_ary.first).keys).each do |column| %>
          data.addColumn('string', '<%= column %>')
        <% end %>
        data.addRows([
          <% pilot_ary.each do |hsh| %>
            <%= hsh.values.map(&:to_s).inspect %> ,
          <% end %>
        ]);

        var table = new google.visualization.Table(document.getElementById('table_div_emp_data'));

        table.draw(data, {showRowNumber: false, width: '100%', height: '100%'});
      }
    </script>

    <!-- Pie Chart -->
    <script type="text/javascript">
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable(
          <%= pilot_pie %>
        );

        var options = {
          title: '<%= pie_chart_title %>'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>

  </head>
  <body>
    <header>
      <!-- <h1>Planet Express: Weekly Report</h1> -->
      <img src="logo.jpg" alt="Logo" />
    </header>
    <div class="columns">
      <div class="column">
        <img src="bender.jpg" alt="Bender" />
        <h2>Crates Shipped</h2>
        <h3><%= total_crates %></h3>
      </div>
      <div class="column" id="highlight">
        <img src="nibbler.jpg" alt="Nibbler" />
        <h2>Weekly Revenue</h2>
        <h3><%= total_rev %></h3>
      </div>
      <div class="column">
        <img src="squid.jpg" alt="Squid-guy" />
        <h2>Bonuses Paid</h2>
        <h3><%= total_bonus %></h3>
      </div>
    </div>
    <div class="content">
      <div class="data">
        <h3>Delivery Summary</h3>
        <div id="table_div_del_sum"></div>
        <h3>Employee Data</h3>
        <div id="table_div_emp_data"></div>
        <div class="pie_chart_wrapper">
          <div class="pie_chart">
            <h3><%= pilot_pie_title %></h3>
            <div style="width: 100%; height: 100%;">
              <canvas id="pie_chart1" width="500" height="400"></canvas>
            </div>
            <div class="legend">
              <div class="title">
                <div class="color-sample" style="border-color: #FF5A7F; background-color: #FF5A5E;"></div>
                Name
              </div>
            </div>
          </div>
          <div class="pie_chart">
            <h3><%= planet_pie_title %></h3>
            <div id="piechart" style="width: 500px; height: 500px;"></div>
          </div>
        </div>
      </div>
      <img src="fry.gif" alt="" />
    </div>
    <footer></footer>
  </body>
</html>
